@import '~antd/dist/antd.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

.allinputs {
    padding: 8px;
    }
    
    .iconMarginCorrection {
    padding-right: 5px;
    padding-left: 5px;
    }
    
    .submit-button {
    margin: 8px;
    }
    
    .cardAlignment {
    display: flex;
    flex-direction: column;
    }